version: '3.8'
services:
  s3:
    image: minio/minio
    container_name: mlflow_s3
    hostname: s3
    ports:
      - "9000:9000"
      - "9001:9001"
    command: server /data --console-address ":9001" 
    volumes:
      - ./s3/data:/data
    env_file:
      - s3/s3.env
    networks:
      - mlflow-server-network

  db:
    image: mysql:lts
    container_name: mlflow_db
    hostname: db
    env_file:
      - db/db.env
    ports:
      - "3307:3306"
    volumes:
      - ./db/data:/var/lib/mysql
    networks:
      - mlflow-server-network

  mlflow:
    build: .
    image: mlflow_custom:latest
    container_name: mlflow_server
    hostname: mlflow
    ports:
      - "5000:5000"
    env_file:
      - mlflow/mlflow.env
      - db/db.env
    command: mlflow server --host 0.0.0.0 --port 5000 --artifacts-destination s3://mlartifacts --backend-store-uri mysql+pymysql://mysql:${MYSQL_PASSWORD}@db:3306/mlflow
    volumes:
      - ./mlflow/artifacts:/mlflow/artifacts
      - ./mlflow/auth_db:/auth_db
    depends_on:
      - s3
      - db
    networks:
      - mlflow-server-network

  ollama:
    image: ollama/ollama:latest
    container_name: ollama_server
    hostname: ollama
    ports:
      - "${LLM_PORT}:${LLM_PORT}"
    environment:
      - LLM_MODEL=${LLM_MODEL}
      - MODEL=${LLM_MODEL}
      - OLLAMA_HOST=0.0.0.0:${LLM_PORT}
    volumes:
      - ollama_data:/root/.ollama
    networks:
      - mlflow-server-network

volumes:
  ollama_data:

networks:
  mlflow-server-network:
    driver: bridge
